<form method="get" class="filter-form">
  <fieldset>
    <legend class="visually-hidden">Filter Resources</legend>
    <div class="row g-3 form-controls mb-2 py-2 align-items-start">
      <div class="col-lg-4 form-controls__title">
        <label for="{{ filter.form.title.id_for_label }}" class="form-label">{{ filter.form.title.label }}:</label>
        {{ filter.form.title }}
      </div>
      <div class="col-lg-4 form-controls__subjects">
        <label for="{{ filter.form.subjects.id_for_label }}" class="form-label">{{ filter.form.subjects.label }}:</label>
        {{ filter.form.subjects }}
      </div>
      <div class="col-lg-4 form-controls__created-on">
        <label for="{{ filter.form.created_on.id_for_label }}" class="form-label">{{ filter.form.created_on.label }}:</label>
        {{ filter.form.created_on }}
      </div>
    </div>
    <div class="row py-3 form-actions">
      <div class="col col-md-auto">
        <button class="btn btn-primary"
                style="display:inline-block"
                data-bs-dismiss="offcanvas"
                type="submit">Apply</button>
      </div>
      <div class="col col-md-auto">
        <a class="btn btn-outline-secondary"
           style="display:inline-block"
           href="{{ request.path }}">Clear</a>
      </div>
    </div>
  </fieldset>
</form>
