{% extends "base.html" %}
{% load static %}
{% block content %}
  {% comment %} {% load crispy_forms_tags %} {% endcomment %}
  <div class="container-fluid container__index--top">
    <div class="row mt-2">
      <div class="col col-md-4">
        <h1>StudyStack</h1>
        <div class="tagline">
          <p>Learn better. Share smarter. Study together.</p>
        </div>
      </div>
      <div class="col col-md-8">
        <div class="mission-statement">
          <p>
            StudyStack is a community-powered platform where students share and discover study resources designed to support real learning, not just quick answers.
          </p>
          <p>
            From revision notes and guides to curated references and learning tools, StudyStack brings together resources created by students for students. Whether you are revising for an exam or exploring a new subject, you can find material shaped by real study experiences.
          </p>
        </div>
      </div>
    </div>
    <div class="row mt-2 cta">
      <div class="col-12">
        Discover the latest resources below, or <a href="{% url 'resources:subject_list' %}"><span>explore by subject.</span></a>
      </div>
    </div>
    <div class="row my-4 filters">
      <div class="col-12 col-filter">
        <h5 class="filter-heading">Filter resources</h5>
        <form method="get" class="filter-form">
          <div class="row g-3 form-controls ">
            <div class="col-md-4 form-controls__title">
              <label for="{{ filter.form.title.id_for_label }}" class="form-label">{{ filter.form.title.label }}:</label>
              {{ filter.form.title }}
            </div>
            <div class="col-md-4 form-controls__subjects">
              <label for="{{ filter.form.subjects.id_for_label }}" class="form-label">{{ filter.form.subjects.label }}:</label>
              {{ filter.form.subjects }}
            </div>
            <div class="col-md-4 form-controls__created-on">
              <label for="{{ filter.form.created_on.id_for_label }}" class="form-label">{{ filter.form.created_on.label }}:</label>
              {{ filter.form.created_on }}
            </div>
            <div class="col">
              <div class="form-actions gap-2">
                <button class="btn btn-primary" style="display:inline-block" type="submit">Apply</button>
                <a class="btn btn-outline-secondary"
                   style="display:inline-block"
                   href="{{ request.path }}">Clear</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container-fluid resource-list">
    {% for resource in resource_list %}
      <div class="row mt-2">
        <div class="col-md-4">
          {% with image=resource.featured_image %}
            {% if image.public_id == "placeholder" %}
              <img src="{% static 'images/default.jpg' %}"
                   alt="placeholder image"
                   class="card-img-top">
            {% else %}
              <img src="{{ image.url }}" alt="{{ resource.title }}" class="card-img-top">
            {% endif %}
          {% endwith %}
        </div>
        <div class="col-md-8">
          class="resource_link">
          {% if resource.status == "d" %}<span class="badge text-bg-secondary">Draft</span>{% endif %}
          <div class="card-title">
            <h4>
              <a href="{% url 'resources:resource_detail' slug=resource.slug %}">{{ resource.title }}</a>
            </h4>
          </div>
          <div class="card-description">{{ resource.description | safe }}</div>
        </div>
      </div>
    {% empty %}
      <div class="row mt-2">
        <div class="col-md-4">
          <p>No resources to show</p>
        </div>
      </div>
    {% endfor %}
  </div>
  {% if is_paginated %}
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li>
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
          </li>
        {% endif %}
        {% if page_obj.has_next %}
          <li>
            <a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{% endblock content %}
{% block extras %}
{% endblock extras %}
