{% extends "base.html" %}
{% block content %}
  {% load static %}
  {% load crispy_forms_tags %}
  <div class="container my-4">
    <div class="row">
      <div class="col-12">
        <h1>Add Study Resource</h1>
        <p class="text-muted">Use this form to share a study resource with the StudyStack community.</p>
      </div>
    </div>
    <div class="row">
      {{ form.media }}
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary btn--resource">Submit</button>
      </form>
    </div>
  </div>
{% endblock content %}
