{% extends "base.html" %}
{% block content %}
  {% load static %}
  {% load svg %}
  {% load crispy_forms_tags %}
  <div class="container my-4">
    <div class="row">
      <div class="col-12 col-lg-8 mx-auto">
        <article class="card">
          <div class="card-body">
            <!-- Resource Title -->
            <header class="mb-3">
              <h1 class="card-title">{{ resource.title }}</h1>
              {% if resource.created_on %}<p class="text-muted mb-0">Added on {{ resource.created_on|date:"j F Y" }}</p>{% endif %}
            </header>
            <!-- Resource Description -->
            {% if resource.description %}
              <section class="mb-4">
                <p>{{ resource.description }}</p>
              </section>
            {% endif %}
            <!-- Resource Metadata -->
            <section class="mb-4">
              <dl>
                {% if resource.resource_type %}
                  <div>
                    <dt>Type</dt>
                    <dd>
                      {{ resource.resource_type.name }}
                    </dd>
                  </div>
                {% endif %}
                {% if resource.subjects.exists %}
                  <div>
                    <dt>Subjects</dt>
                    <dd>
                      {% for subject in resource.subjects.all %}
                        <a href="{% url 'resources:subject_resource_list' subject.slug %}">
                          <span>{{ subject.name }}</span>
                        </a>
                        {% if not forloop.last %},{% endif %}
                      {% endfor %}
                    </dd>
                  </div>
                {% endif %}
                {% if resource.author %}
                  <div>
                    <dt>Author</dt>
                    <dd>
                      {{ resource.author }}
                    </dd>
                  </div>
                {% endif %}
              </dl>
            </section>
            <!-- Primary Action -->
            {% if resource.url %}
              <section class="mb-4">
                <a href="{{ resource.url }}"
                   class="btn btn-primary"
                   target="_blank"
                   rel="noopener noreferrer">View Resource</a>
              </section>
            {% endif %}
          </div>
        </article>
        {% if resource.author == user or user.is_superuser %}
          <div class="container-fluid container__user-actions">
            <div class="row mt-4">
              <h4>Resource actions</h4>
            </div>
            <div class="row mt-2">
              <div class="col">
                <button class="btn btn-edit"
                        id="resourceEdit"
                        data-edit-url="{% url 'resources:resource_update' slug=resource.slug %}">Edit</button>
                <button class="btn btn-delete"
                        id="resourceDelete"
                        data-delete-url="{% url 'resources:resource_delete' slug=resource.slug %}">Delete</button>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="container-fluid container__comments">
      <h4 class="mt-4">
        {% if comments %}
          Comments
        {% else %}
          No comments to show
        {% endif %}
      </h4>
      {% for comment in comments %}
        <div class="row mt-4">
          <div class="col-12 card">
            <div class="card-body p-2">
              <div class="row">
                <div class="container d-flex align-items-baseline comment__info">
                  <h5 class="card-title">{{ comment.author }}</h5>
                  <!-- TODO: Update layout - xxx wrote.. body on .. date -->
                  <span>&nbsp;wrote on&nbsp;</span>
                  <em class="card-text">{{ comment.created_on }}</em>
                  <span>&nbsp;:</span>
                </div>
                <div class="col-md-10">
                  <div class="comment-body" id="{{ comment.id }}">{{ comment.body | linebreaks }}</div>
                </div>
                <div class="col-md-2">
                  {% if user.is_authenticated and comment.author == user %}
                    <div class="row gap-1 actions__comment">
                      <div class="col p-0">
                        <button class="btn icon-btn btn-edit"
                                aria-label="Edit"
                                data-comment_id="{{ comment.id }}">
                          {% svg 'edit' class="svg-icon svg-icon--default" height="24" width="24" %}
                          {% svg 'edit-hover' class="svg-icon svg-icon--hover" height="24" width="24" %}
                        </button>
                      </div>
                      <div class="col p-0">
                        <button class="btn icon-btn btn-delete"
                                aria-label="Delete"
                                data-comment_id="{{ comment.id }}">
                          {% svg 'bin' class="svg-icon svg-icon--default" height="24" width="24" %}
                          {% svg 'bin-hover' class="svg-icon svg-icon--hover" height="24" width="24" %}
                        </button>
                      </div>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="container-fluid container__form">
      <div class="row">
        <div class="col-md-8 card mb-4 mt-3 mx-auto">
          <div class="card-body">
            {% if user.is_authenticated %}
              <h3>Leave a comment:</h3>
              <p>Commenting as: {{ user.username }}</p>
              <form id="commentForm" method="post">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
              </form>
            {% else %}
              <p>
                <a href="{% url 'account_login' %}">Log in</a> to leave a comment
              </p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Delete confirmation modal -->
  <div class="modal fade"
       id="deleteModal"
       tabindex="-1"
       aria-labelledby="deleteModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel"></h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this?
          This action cannot be undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form method="post" action="">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Delete</button>
          </form>
          {% comment %} <a href="#" id="deleteConfirm" class="btn btn-danger">Delete</a> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block extras %}
  <script src="{% static 'js/resourceActions.js' %}"></script>
{% endblock extras %}
