{% extends "base.html" %}
{% block content %}
  {% load static %}
  <div class="container my-4">
    <header class="mb-4">
      <h1>Browse Subjects</h1>
      <p class="text-muted">Explore study resourcesby subject area.</p>
    </header>
    {% if subject_list %}
      <ul class="list_unstyled">
        {% for subject in subject_list %}
          <li class="mb-2">
            <h2 class="h5 mb-2">
              <a href="{% url 'resources:subject_resource_list' subject.slug %}">{{ subject.name }}</a>
              <span class="text-muted font-italic">{{ subject.resource_count }}</span>
            </h2>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No subjects to show</p>
    {% endif %}
  </div>
{% endblock content %}
