{% extends "base.html" %}
{% block content %}
  {% load static %}
  <div class="container my-4">
    {% for resource in resources %}
      <div class="row">
        <div class="card">
          <div class="card-body">
            <a href="{% url 'resource_detail' resource.slug %}">
              <h5 class="card-title">{{ resource.title }}</h5>
            </a>
            <div class="card-text">{{ resource.description }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
