@import './theme.css';

/* Global */

/* body {
	background-color: #f9fafc;
} */

/* Remove default link styling for cards wrapped in anchor tags */
/* .card-link,
.card-body,
.card-text {
	text-decoration: none;
	color: var(--bs-card-color);
} */

/* .brand {
	font-family: Lato, sans-serif;
	font-size: 1.4rem;
	font-weight: 700;
	color: #4a4a4f;
} */

.red-o {
	color: #e84610;
}

.thin {
	font-weight: 300;
}

/* ------------------ Utilty ------------------ */

.font-italic {
	font-style: italic;
}

.font-bold {
	font-weight: 600;
}

/* ---------------- Breadcrumbs --------------- */

nav[aria-label='breadcrumb'] {
	padding-left: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: #bdbdbd;
}

ol.breadcrumb {
	margin-bottom: 0.2rem;
}

/* ------------------- Index ------------------ */

/* Branding */

.branding h1 {
	margin-bottom: auto;
}

.tagline p {
	margin-bottom: 0.25rem;
	margin-block-end: 0;
}

.tagline p:last-child {
	margin-top: 0.5rem;
}

/* Mission Statement */

.mission-statement p:last-child {
	margin-bottom: 0;
}

/* Top */

.container__index--top .row {
	height: 100%;
}

.container__index--top .col:first-child {
	justify-content: stretch;
}

.container__index--top .col {
	display: flex;
	flex-direction: column;
	/* align-items: end; */
	/* justify-content: flex-end; */
}

/* Filter Form */

.filter-heading {
	width: 100%;
	margin-bottom: 1rem;
	border-bottom: 2px solid #bdbdbd;
}

.form-controls__title,
.form-controls__subjects,
.form-controls__created-on {
	display: flex;
	flex-direction: column;
}

.form-controls .form-label {
	margin-bottom: 0.25rem;
}

/* Actions */
.form-actions {
	display: flex;
	flex-direction: row;
	gap: 0.75rem;
}

/* Resource list */

.resource-list {
	margin-top: 4rem;
}

.card {
	/* border: none; */
	background-color: transparent;
}

.image__container {
	position: relative;
}

.image__flash {
	position: absolute;
	bottom: 5%;
	min-width: 30%;
	left: -2px;
	background-color: #188181;
}

.scale {
	width: 100%;
	height: auto;
}

.author {
	color: white;
	margin: 4px;
	text-transform: uppercase;
}

.masthead {
	margin-top: 10px;
	overflow: hidden;
	position: relative;
	display: inline-block;
	height: 33vh;
	width: 100%;
}

.masthead__text {
	background-color: #445261;
	color: white;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.masthead__image {
	position: relative;
	overflow: hidden;
}

.resource__link {
	text-decoration: none;
	color: #445261;
}

.resource__link:hover,
.page-link {
	color: #e84610;
}

.resource__title {
	margin-top: 10%;
	margin-left: 5%;
}

.resource__subtitle {
	margin-left: 5%;
	color: lightgray;
}

.btn-signup,
.btn-edit {
	background-color: #188181;
	color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
	background-color: #fff;
	color: #23bbbb;
}

.link {
	color: #23bbbb;
	text-decoration: none;
}

.link:hover,
.link:active {
	color: #445261;
	text-decoration: underline;
}

.btn-like {
	color: #e84610;
	border: none;
	background: transparent;
}

.btn-delete {
	color: #fff;
	background: #e84610;
	border: 2px solid #e84610;
}

.btn-like:hover,
.btn-like:active {
	color: #e84610;
	background: transparent;
	border: none;
}

form#CommentForm {
	margin-top: 1.3em;
}

/* ------------------- Cards ------------------ */
.card-link .card-title {
	text-decoration: underline;
	color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
}

/* ----------------- Comments ----------------- */

/* ----------- Subject resource list ---------- */
.row.resource__image {
	align-items: start;
}
/* ----------------- Svg style ---------------- */

.svg-icon--hover {
	display: none;
}

.icon-btn:hover .svg-icon--default {
	display: none;
}

.icon-btn:hover .svg-icon--hover {
	display: inline-block;
}

/* --------------- Media Queries -------------- */

@media (max-width: 991.98px) {
	.offcanvas {
		width: 90vw;
		max-width: 360px;
	}
}

@media (min-width: 768px) {
	.form-actions {
		justify-content: flex-end;
	}
}
